<div class="container-xxl mt-5 mx-5">

  <h2><mark>マイページ</mark></h2>

  <div class="customer-information mt-5">
    <div class="row" style="margin-left: 0; margin-right: 0;">
      <h4 class="d-flex align-items-center justify-content-center" style="margin-bottom: 0;"><strong>登録情報</strong></h4>
      <%= link_to "編集する", edit_customer_path, class: "btn btn-success ml-5" %>
    </div>
    <table class="col-6 table table-bordered mt-3 mb-5">
      <tr>
        <td class="table-active border border-dark">氏名</td>
        <td class="border border-dark"><%= @customer.last_name %> <%= @customer.first_name %></td>
      </tr>
      <tr>
        <td class="table-active border border-dark">カナ</td>
        <td class="border border-dark"><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
      </tr>
      <tr>
        <td class="table-active border border-dark">郵便番号</td>
        <td class="border border-dark"><%= @customer.postal_code %></td>
      </tr>
      <tr>
        <td class="table-active border border-dark">住所</td>
        <td class="border border-dark"><%= @customer.address %></td>
      </tr>
      <tr>
        <td class="table-active border border-dark">電話番号</td>
        <td class="border border-dark"><%= @customer.telephone_number %></td>
      </tr>
      <tr>
        <td class="table-active border border-dark">メールアドレス</td>
        <td class="border border-dark"><%= @customer.email %></td>
      </tr>
    </table>

    <div class="row col-3" style="margin-left: 0; margin-right: 0; padding-left: 0;">
      <h4 class="col-6 d-flex align-items-center justify-content-left" style="margin-bottom: 0; padding-left: 0;"><strong>配送先</strong></h4>
      <%= link_to "一覧を見る", addresses_path, class: "col-6 btn btn-primary" %>
      <div class="w-100 mt-4"></div>
      <h4 class="col-6 d-flex align-items-center justify-content-left" style="margin-bottom: 0; padding-left: 0;"><strong>注文履歴</strong></h4>
      <%= link_to "一覧を見る", orders_path, class: "col-6 btn btn-primary" %>
    </div>

  </div>
</div>